body {
  background-color: #1a202c;
  color: #f7fafc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #2d3748;
  border-radius: 10px;
}

button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #edf2f7;
  background-color: #2d3748;
  border-radius: 0.375rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #4a5568;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

button:active {
  background-color: #1a202c;
}

button:disabled {
  background-color: #4a5568;
  color: #718096;
  border-color: #4a5568;
}

p {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.err-text {
  color: #dc3545;
}

#download-info-container {
  width: 400px;
  height: 300px;
  overflow: auto;
  background-color: #2d3748;
  border-radius: 5px;
  padding: 5px;
  color: #28a745;
}

#download-info-container::-webkit-scrollbar {
  width: 12px;
}

#download-info-container::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

#download-info-container::-webkit-scrollbar-track {
  background-color: #2d3748;
  border-radius: 10px;
}
